<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Welcome to my payment page</p>
    <form action="/upload" method="POST" enctype="multipart/form-data">
    <input name="title">
    <button id="upload">Attach files</button>
    <button type="submit">Upload</button>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.11.3/cloudinary-core.min.js"> 
</script>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script>
    function showUploadWidget(e) {
        e.preventDefault();

 cloudinary.openUploadWidget({
    cloudName: "jennycj",
    uploadPreset: "request",
    sources: [
        "local",
        "camera",
        "url"
    ],
    showAdvancedOptions: true,
    cropping: false,
    multiple: true,
    defaultSource: "local",
    styles: {
        palette: {
            window: "#FFFFFF",
            windowBorder: "#90A0B3",
            tabIcon: "#0078FF",
            menuIcons: "#5A616A",
            textDark: "#000000",
            textLight: "#FFFFFF",
            link: "#0078FF",
            action: "#FF620C",
            inactiveTabIcon: "#0E2F5A",
            error: "#F44235",
            inProgress: "#0078FF",
            complete: "#20B832",
            sourceBg: "#E4EBF1"
        },
        fonts: {
            default: {
                active: true
            }
        }
    }
},
 (err, info) => {
   if (!err) {    
     console.log("Upload Widget event - ", info);
     const upload_url = info
     export default function getUploadURL(url){
         return upload_url
     }
   }
  });
 }
    document.
    getElementById('upload')
    .addEventListener('click', showUploadWidget, false)
</script>
</body>
</html>